<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
	<connectionStrings>
		<add name="sqlconn" connectionString="Data Source=db_ip;Initial Catalog=DB_name;User ID=DB_user;password=pw"></add>		
	</connectionStrings>

    <system.web>
		<pages enableViewState="false"/>
        <!-- 只在开发过程中将此值设置为 true-->
        <compilation debug="false" />
      <httpRuntime requestValidationMode="2.0" />
        <authentication mode="Windows" />
        <!-- <Off On RemoteOnly">  -->
        <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       
    </system.web>


</configuration>
